main.dSYM
main
originalImage.txt
resultImage.txt
ParallelMain
SerialMain
.DS_Store
SerialMain.dSYM
ParallelMain.dSYM
*.txt
ParallelMain_4.dSYM
ParallelMain_3.dSYM
ParallelMain_1.dSYM
ParallelMain_4
ParallelMain_3
